<!DOCTYPE html>
<html data-theme="winter">
  <head>
    <title>Higher Education Access Prediction System</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/aos.css" />
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.min.css" />
    <script src="/javascripts/swiper-bundle.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <% include ./partial/navbar.ejs %>

    <div class="aos-all">
      <div class="swiper" data-aos="fade-up">
        <!-- Additional required wrapper -->

        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="w-full h-[30vh] lg:h-[80vh]">
              <img src="/images/slider-1-2.jpg" class="w-full object-cover" />
              <div
                class="absolute top-1/2 left-5 lg:left-16 -translate-y-1/2 text-white space-y-4"
              >
                <h2 class="text-3xl lg:text-5xl font-bold drop-shadow-md">
                  Higher Education Access Prediction System
                </h2>
                <p class="text-sm lg:text-lg max-w-md drop-shadow-md">
                  This future university will help your way
                </p>
                <%if(locals.user){%>
                <a href="/university" class="btn btn-primary">
                  University List</a
                >
                <%}%>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="w-full h-[30vh] lg:h-[80vh]">
              <img src="/images/slider-2.jpg" class="w-full object-cover" />
              <div
                class="absolute top-1/2 left-5 lg:left-16 -translate-y-1/2 text-white space-y-4"
              >
                <h2 class="text-3xl lg:text-5xl font-bold drop-shadow-md">
                  Question Tickets
                </h2>
                <p class="text-sm lg:text-lg max-w-md drop-shadow-md">
                  Ask your question to admin and get the answer.
                </p>
                <a href="/user/ticket/create" class="btn btn-primary"
                  >Create Ticket</a
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="w-full h-[30vh] lg:h-[80vh]">
              <img src="/images/slider-3.jpg" class="w-full object-cover" />
              <div
                class="absolute top-1/2 left-5 lg:left-16 -translate-y-1/2 text-white space-y-4"
              >
                <h2 class="text-3xl lg:text-5xl font-bold drop-shadow-md">
                  Result With ML Prediction
                </h2>
                <p
                  class="text-sm lg:text-lg max-w-md drop-shadow-md text-green-600"
                >
                  Check your university admission prediction with our ML model.
                </p>
                <%if(locals.user){%>
                <a href="/prediction" class="btn btn-primary"
                  >Explore Prediction</a
                >
                <%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ./partial/footer.ejs %>
  </body>
  <script src="/javascripts/aos.js"></script>
  <script>
    AOS.init({
      mirror: true,
    });
    const swiper = new Swiper(".swiper", {
      // Optional parameters
      direction: "horizontal",
      loop: true,
      pagination: {
        el: ".swiper-pagination",
      },
      autoplay: {
        delay: 5000,
      },
    });
  </script>
</html>
